body {
    font-family: Arial, sans-serif;
    background-image:url("download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(64px);
}

.log{
    width:300px;
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding-right:20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

label,h2{
    color:#fef;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ee82ee;
    border-radius: 5px;
}

.btn {
    background-color: #ff56b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ee82ee;
}