form {
    text-align: center;

}

.form-container{
    margin:0 auto;
    text-align: center;
    width: 300px;
}
.form-container.input,.form-container.label{
    display: block;
    margin:10px auto;
} 
input[type="text"],
input[type="tel"],
input[type="email"] {
    width:200px; /* Make all input boxes take up 100% of the available width within their container */
}

.field-gap {
    margin-right: 20px;
    margin-bottom: 20px;
}
