* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

}

.header {
    position: fixed;
    top: 0;
    /* left: 100px; */
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 25px;
    color: rgb(246, 245, 245);
    text-decoration: none;
    font-weight: 600;
}

.logo {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: transparent;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
  
    &:after,
    &:before {
      content: " ";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 0px solid #2d2c2c;
      transition: all 1s;
    }
  
    &:after {
      top: -1px;
      left: -1px;
      border-top: 5px solid rgb(255, 255, 255);
      border-left: 5px solid rgb(255, 254, 254);
    }
  
    &:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 5px solid rgb(255, 255, 255);
      border-right: 5px solid rgb(255, 255, 255);
    }
  
    &:hover {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
  
      &:before,
      &:after {
        width: 100%;
        height: 100%;
        border-color: rgb(255, 255, 255);
      }
    }
  }


.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: 1s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.container {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background: transparent;
    box-shadow: 0 30px 50px #dbdbdb33;
}


.container .slide .item {
    width: 160px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    position: absolute;
    top: 9vh;
    left: 0;
    transform: translate(0, 0);
    border-radius: 10px;
    width: 100%;
    height: 540px;
    padding-bottom: 2vh;
}


.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}


.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    /* width: 300px; */
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content {
    display: block;
}


.content .name {
    margin-left: -50vw;
    margin-top: 200px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 0s 1 forwards;
}

.content .des {

    margin-bottom: 20px;
    margin-left: -50vw;
    opacity: 0;
    animation: animate 1s ease-in-out 0s 1 forwards;
}

.content button {
    margin-left: -50vw;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0s 1 forwards;
}
.content button:hover{
    background-color: rgb(28, 28, 28);
    color:white;
    transition:1s;
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0,10px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}